* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: #cec;
    height: 70px;
    order: 1;
}

footer {
    background-color: #cec;
    height: 70px;
    order: 3;
}

#container {
    flex: 1;
    overflow-y: scroll;
    order: 2;
    display: flex;
    justify-content: center;
}

main {
    order: 2;
    width: 60%;
    max-width: 800px;
    background-color: #ecc;
}

main p {
    height: 100px;
}

aside {
    position: sticky;
    top: 0;
    width: 20%;
    max-width: 300px;
    background-color: #cce;
}

#left-side-bar {
    order: 1;
}

#right-side-bar {
    order: 3;
}